<ion-header>

  <ion-toolbar color ="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><b>Create New Order</b></ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
      <div *ngIf="resultSuccess == true" style="color: limegreen;">
        {{message}}
      </div>

      <div *ngIf="resultError == true" style="color: red;">
        {{message}}
      </div>
  
    

      
      
        <form #createOrderForm="ngForm" (ngSubmit)="create(createOrderForm)">

        

          <ion-item>
            <ion-label><b>Bouquet Name</b></ion-label>
            <ion-input type="text" id="name" name="name" [(ngModel)]="newBouquet.name" required="true" >
            </ion-input>
          </ion-item>
          

          <ion-item>
            <ion-label><b>Bouquet Type</b></ion-label>
            <ion-select placeholder="Select One" id="type" name="type" 
              [(ngModel)]="newBouquet.type" required="true" multiple ="false">
              <ion-select-option value = "bouquetTypeEnum.FIXED">Fixed</ion-select-option>
              <ion-select-option value = "bouquetTypeEnum.CUSTOM">Custom</ion-select-option>
            </ion-select>
          </ion-item>


          <ion-item>
            <ion-label><b>Bouquet Size</b></ion-label>
            <ion-select placeholder="Select One" id="size" name="size" 
              [(ngModel)]="newBouquet.size" required="true">
              <ion-select-option value = "bouquetSizeEnum.SMALL">Small</ion-select-option>
              <ion-select-option value = "bouquetSizeEnum.MEDIUM">Medium</ion-select-option>
              <ion-select-option value = "bouquetSizeEnum.LARGE">Large</ion-select-option>
              
            </ion-select>
          </ion-item>
        
          

          <ion-item>
            <ion-label><b>Flowers</b></ion-label>
            <ion-select placeholder="Select A Main Flower" id="mainFlower" name="mainFlower" #mainFlower = "ngModel"
              [(ngModel)]="mainFlowersId" required="true">
              <ion-select-option *ngFor="let flower of mainFlowers" value="{{flower.flowerId}}">
                  
                {{flower.name}}
              </ion-select-option>
            </ion-select>
            </ion-item>

            <ion-item>
              <ion-label><b>Fillers</b></ion-label>
              <ion-select placeholder="Select Two" id="flower" name="flower" 
                [(ngModel)]="fillerFlowerIds" required="true" multiple = "true">
                <ion-select-option *ngFor="let flower of fillerFlowers" value="{{flower.flowerId}}">{{flower.name}}
                </ion-select-option>
              </ion-select>
              </ion-item>
            

            <ion-item>
              <ion-label><b>Wrappings</b></ion-label>
              <ion-select placeholder="Select One" id="wrapping" name="wrapping" 
                [(ngModel)]="wrappingId" required="true">
                <ion-select-option *ngFor="let wrapping of wrappings" value="{{wrapping.wrappingId}}">{{wrapping.name}}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label><b>Delivery Date</b></ion-label>
              <ion-datetime [(ngModel)] = "newOrder.orderDateTime"></ion-datetime>
            </ion-item>

  
          
          <!-- <div *ngIf = "newBouquet.size == bouquetSizeEnum.MEDIUM">
            <ion-item>
            <ion-label><b>Fillers</b></ion-label>
            <ion-select placeholder="Select Multiple" id="filler" name="flower" 
              [(ngModel)]="flowerIds" multiple = "true" required="true">
              <ion-select-option *ngFor="let flower of flowers" value="{{flower.flowerId}}">{{flower.name}}
              </ion-select-option>
            </ion-select>
            </ion-item>
          </div>
          <div *ngIf = "newBouquet.size == bouquetSizeEnum.LARGE">
            <ion-item>
            <ion-label><b>Fillers</b></ion-label>
            <ion-select placeholder="Select Multiple" id="filler" name="flower" 
              [(ngModel)]="flowerIds" multiple = "true" required="true">
              <ion-select-option *ngFor="let flower of flowers" value="{{flower.flowerId}}">{{flower.name}}
              </ion-select-option>
            </ion-select>
            </ion-item>
          </div> -->

        

          <ion-item>
            <ion-button type='submit'>
                Create Order
            </ion-button>
            <ion-button (click)='clear()'>
                Clear
            </ion-button>
        </ion-item>
        

        
        </form>

      <!-- </ion-card-content>

    </ion-card> -->

</ion-content>






<ion-footer>
  <ion-toolbar>
    <ion-title>Fleur Flair. All Rights Reserved</ion-title>
  </ion-toolbar>
</ion-footer>
